//showcase
#showcase {
    text-align: center;
        .showcase-content {
            p {
                text-align: center;
                margin: 0 auto;
                display: block;
                margin-bottom: 2rem;
            }
        }
}

//testimonials
#testimonials {
    .test-row {
        display: block;
    }
}